#shopping-cart {
    display: flex;
    justify-content: space-between;
    margin: 20px 5vw 20px 5vw;
}

#shopping-cart-content {
    height: 100vh;
    width: 60vw;
}

#shopping-cart-receipt {
    height: 100vh;
    width: 20vw;
}

fieldset {
    position: relative;
    --light-effect-color: rgba(255, 255, 255, 0.1);
    --transparent-effect: 30%;
    border-radius: 10px;
    padding: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

#fieldset-background {
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    border-radius: inherit;
    z-index: -100;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

table tr:first-child {
    height: 40px;
}

table tr {
    height: 80px;
}

table img {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 10px
}

input {
    width: 50px;
    margin: unset;
    padding: 5px 0 5px 5px;
}