#featured {
    height: 250px;
    overflow: hidden;
}

#featured-section {
    display: flex;
    width: 90%;
    height: calc(100% - 20px);
    margin: 10px 5% 10px 5%;
    /*padding: 20px;*/
    background-color: var(--background-color);
    border-radius: 10px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
}

#featured-content {
    height: calc(100% - 42px);
    padding: 20px;
}

main {
    display: flex;
    flex-flow: column;
    /*background-color: rgba(63, 153, 168, 0.3);*/
}

#shop-nav {
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

#shop-types * {
    margin-right: 50px;
}

#shop-content {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*background-color: rgba(247, 0, 255, 0.3);*/
}

#cards {
    display: flex;
    flex-wrap: wrap;
    max-width:80vw;
    gap: 8px;
    width: calc(100% - 20px);
    margin: 20px;
    justify-content: center;
}

.item {
    height: 260px;
    width: 300px;
    cursor: pointer;
}

/*#cards:hover > .card > .card-border {*/
/*    opacity: 1;*/
/*}*/

.card {
    background-color: var(--background-color);
    border-radius: 10px;
    position: relative;
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
}

.card:hover::before
    /*.card:hover > .card-border*/
{
    opacity: 1;
}

.card::before {
    /*.card > .card-border{*/
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms;
}

.card::before {
    background: radial-gradient(
            900px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.2),
            transparent 50%
    );
    z-index: 1;
}

/*.card > .card-border {*/
/*    background: radial-gradient(*/
/*            500px circle at var(--mouse-x) var(--mouse-y),*/
/*            rgba(255, 255, 255, 0.5),*/
/*            transparent 40%*/
/*    );*/
/*    z-index: 1;*/
/*}*/

/*.card > .card-content {*/
/*    height: calc(100% - 2px);*/
/*    width: calc(100% - 2px);*/
/*    !*background-color: var(--background-content-color);*!*/
/*    border-radius: inherit;*/
/*    margin: 1px;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/

.item:active {
    top: 2px;
}

/*.item:active .card-content {*/
/*    zoom: 1.01;*/
/*}*/

.card-image {
    height: calc(60% - 20px);
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
    z-index: 10;
}

.card-image img {
    height: 100%;
    z-index: 11;
}

.card-info {
    height: calc(40% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.price-tag {
    color: white;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    background-color: indianred;
}