:root {
    --background-color: rgba(255, 255, 255, 0.15);
    --background-content-color: rgba(0, 0, 0, 0.79);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Courier New", system-ui;
    color: white;
}

#wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
    pointer-events: none;
    filter: brightness(0.8);
}

body {

}

.blur {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

header {
}



/*#header-blur {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 50px;*/
/*    width: 100vw;*/
/*    filter: blur();*/
/*}*/

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav * {
    margin: 0 5vw 0 5vw;
}

#deconnexion-button {
    margin: 1px 0 0 0;
    background: none;
    border: none;
    font-size: medium;
}

#featured {
    height: 250px;
    overflow: hidden;
}

#featured-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: calc(100% - 20px);
    margin: 10px 5% 10px 5%;
    /*padding: 20px;*/
    background-color: var(--background-color);
    border-radius: 10px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
}

#featured-content {
    height: calc(100% - 42px);
    padding: 20px;
}

main {
    display: flex;
    flex-flow: column;
    /*background-color: rgba(63, 153, 168, 0.3);*/
}

#shop-nav {
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

#shop-types * {
    margin-right: 50px;
}

#shop-content {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*background-color: rgba(247, 0, 255, 0.3);*/
}

#cards {
    display: flex;
    flex-wrap: wrap;
    max-width:80vw;
    gap: 8px;
    width: calc(100% - 20px);
    margin: 20px;
    justify-content: center;
}

.item {
    height: 260px;
    width: 300px;
    cursor: pointer;
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card {
    background-color: var(--background-color);
    border-radius: 10px;
    position: relative;
}

.card:hover::before,
.card:hover > .card-border{
    opacity: 1;
}

.card::before,
.card > .card-border{
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms;
}

.card::before {
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.1),
            transparent 40%
    );
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(
            500px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: var(--background-content-color);
    border-radius: inherit;
    margin: 1px;
    position: relative;
    z-index: 2;
}

footer {
    /*background-color: rgba(0, 255, 83, 0.3);*/
    height: 100px;
}