<div id="product" class="card item">
    <div class="card-image">
        <img src="{{ product.imageProduct ? asset("img/products/uploads/" ~ product.imageProduct ~ "" ) : asset("img/products/undefined.png") }}"
             alt="product picture">
    </div>
    <div class="card-info">
        <button class="delete-product">X</button>

        <p>{{ product.name }}</p>
        <p class="price-tag">{{ product.price }} €</p>
    </div>
</div>