{% extends "base.html.twig" %}
{% block title %}Shop{% endblock %}
{% block main %}
    <div id="featured"></div>
    <main>
        <div id="shop-nav">
            <div id="shop-types">
                <a>Tout</a>
                <a>Blocs</a>
                <a>Equipements</a>
                <a>Ressources</a>
            </div>
            <div>
                <p>icones recherche + filtre</p>
            </div>
        </div>
        <div id="shop-content">
            <div id="card"></div>
        </div>
    </main>
{% endblock %}