{% extends "base.html.twig" %}
{% block title %}Shop{% endblock %}
{% block main %}
    <div id="featured">
        <div id="featured-content">
            <p id="featured-title">Populaire :</p>
        </div>
    </div>
    <main>
        <div id="shop-nav">
            <div id="shop-types">
                <a>Tout</a>
                <a>Blocs</a>
                <a>Equipements</a>
                <a>Ressources</a>
            </div>
            <div>
                <p>icones recherche + filtre</p>
            </div>
        </div>
        <div id="shop-content">
            <div id="cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
    </main>
{% endblock %}