<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path("shop") }}">IAMSI</a>
                <a href="#">Connexion</a>
                <a href="#">Panier</a>
                <a href="#">Nuit</a>
            </nav>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>
